.employee__Cards {
  transition: box-shadow 0.5s ease;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  height: 350px !important;
  margin-bottom: 2rem;
}
.employee__Cards:hover {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}
.employee__Cards .card {
  height: 100%;
}
.employee__Cards .card-title {
  font-size: 19px;
}
.employee__Cards img {
  padding-top: 1rem;
  height: 230px;
  object-fit: contain;
}
.employee__cards__href{
    cursor: pointer;

    color:black;
}
.employee__cards__href:hover{
    color: black;
}
